<% description ||= '' %>
<div class="text-center mb-4">
  <h1 class="mt-1 font-bold text-gray-900 text-3xl sm:text-3xl sm:tracking-tight lg:text-3xl"><%= title %></h1>
  <p class="max-w-lg mt-5 mx-auto text-lg text-gray-500"><%= description.html_safe %></p>
</div>
